# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.run.xml
*.bcf
*.idx
*.ilg
*.ind
*.spl

# Build output
*.dvi
*.ps

# OS files
.DS_Store
